  .account {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .account ::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../asset/images/wait.png");
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    /* Adjust the blur level as needed */
    z-index: -1;
    /* Ensure the pseudo-element is behind the content */
    opacity: 0.9;
    /* Optional: Adjust opacity if needed */
  }

  .profile {
    margin-top: 58px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 50%;
  }

  .avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  .profile p {
    margin: 30px 0;
    font-size: 16px;
    font-weight: 500;
  }

  .profile-info p:first-child {
    font-size: 22px;
    margin-top: 0;
    font-weight: 600;
  }

  .update-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    margin-top: 20px;
  }

  .update-btn:hover {
    background-color: #0056b3;
  }

  .change-password-btn {
    margin-left: 13px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    margin-top: 20px;
  }

  .profileName {
    margin-top: 5px !important;
    font-size: 28px !important;
  }