.change-password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.change-password-form h2 {
    margin-bottom: 20px;
}

.change-password-form form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

.change-password-form label {
    margin-bottom: 5px;
}

.change-password-form input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.change-password-form .button-group {
    display: flex;
    justify-content: space-between;
}

.change-password-form .error {
    color: red;
    margin-bottom: 15px;
}

.change-password-form .success {
    color: green;
    margin-bottom: 15px;
}

.btnChange {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 30px;
}

.btnChange:hover {
    background-color: #639e65;

}

.btnCancel {
    background-color: #d32f2f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btnCancel:hover {
    background-color: #d65757;
}