/* updateForm.css */

.update-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 9999; /* Đảm bảo form ở trên cùng */
}

.update-form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.update-form h2 {
  margin-bottom: 20px;
  text-align: center;
}

.update-form label {
  font-size: 14px;
  margin-bottom: 10px;
}

.update-form input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: calc(100% - 22px); /* For input padding */
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.save-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 30px;
}

.cancel-btn {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.save-btn:hover {
  background-color: #45a049;
}

.cancel-btn:hover {
  background-color: #d32f2f;
}
