.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.hero-section-des {
  position: absolute;
}

.hero-section h1 {
  font-size: 5em;
  margin-bottom: 20px;
  color: transparent; /* Make the text fill transparent */
  -webkit-text-stroke: 1px white; /* Add a white stroke to the text */
  position: relative;
}

.hero-section h1::before {
  content: 'Welcome to Smart Parking'; /* Duplicate text content */
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  z-index: -1; /* Ensure the stroke stays behind the text */
  text-shadow: 
      -1px -1px 0 #000,  
       1px -1px 0 #000,
      -1px  1px 0 #000,
       1px  1px 0 #000; /* Create a shadow for the stroke effect */
  opacity: 0.6; /* Make the shadow semi-transparent for a better effect */
}

.hero-section p {
  font-size: 24px;
  margin-bottom: 40px;
  color: white;
}

.hero-button {
  background-color: transparent;
  border: 2px solid white; /* White border */
  font-size: 16px;
  color: white; /* White text for the buttons */
  cursor: pointer;
  margin: 0 10px;
  padding: 5px 10px;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s; /* Smooth transition for hover effects */
  border-radius: 5px; /* Rounded corners */
}

.hero-button:hover {
  color: black; /* Black text color on hover */
  background-color: rgba(255, 255, 255, 0.6); /* Slightly more opaque background on hover */
  border-color: black; /* Black border on hover */
  text-decoration: none; /* Remove underline on hover */
}

.info-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 55%;
  padding: 0 20px;
}

.info-card {
  background-color: #f5f5f5;
  width: 300px;
  height: 300px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.info-card img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.info-card h3 {
  font-size: 24px;
  font-weight: bold;
  color: #1e1e1e;
  margin-bottom: 20px;
}

.info-card p {
  font-size: 16px;
  color: #4a4a4a;
}

