.form-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
}

.form-container.closing {
    opacity: 0;
}

.form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.5s ease;
}

.form.closing {
    opacity: 0;
}

h2 {
    margin-top: 0;
}

.parking-info {
    margin-bottom: 20px;
}

.spots-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.spot {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
    position: relative;
    text-align: center;
}

.spot.available {
    background-color: #a3caeb;
    /* Light green for available spots */
}

.spot.selected {
    border: 2px solid #007bff;
    /* Blue border for selected spot */
}

.spot-taken {
    position: absolute;
    top: 5px;
    right: 5px;
    color: red;
    font-weight: bold;
}

.spot-number {
    font-size: 14px;
}

.close-btn {
    position: absolute;
    top: -9px;
    right: -2px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button+button {
    background-color: #dc3545;
}

.vehicle-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.vehicle-form h3 {
    margin-top: 0;
    color: #2d6097;
}

.vehicle-form form {
    display: flex;
    flex-direction: column;
}

.vehicle-form label {
    margin-bottom: 10px;
}

.vehicle-form input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.vehicle-form button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.vehicle-form button[type="button"] {
    background-color: #dc3545;
}

.vehicle-form .error {
    color: red;
    margin-top: 10px;
}

.add-vehicle-btn {
    padding: 4px;
    background: palegreen;
    margin-left: 13px;
    color: black;
    font-size: 15px;
}

.btn-flex {
    display: flex;
}