.book {
  height: 1150px !important;
  display: flex;
  flex-direction: column;
}

.book-container {
  background-image: url("../../asset/images/wait.png");
  height: 100%;
}

.book .content {
  flex: 1;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-container {
  display: flex;
  flex-wrap: wrap;
  /* Allow items to wrap to the next line */
  justify-content: center;
  /* Center align items horizontally */
  gap: 20px;
  /* Space between items */
  margin-top: 3%;
}

.image-container {
  position: relative;
  width: 350px;
  /* Fixed width for each image */
  height: 300px;
  /* Fixed height for each image */
  margin-right: 20px;
}